<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Вход в админ панель</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body>
<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase"><strong class="text-primary">TODO: временный заголовок - Symfony 6</strong>
                </div>
                <p>Вход в админ-панель только для администраторов.</p>

                <form method="post" class="text-left form-validate">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <div class="form-group-material">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="input-material" autocomplete="email" required autofocus>
                        <label for="inputEmail" class="label-material">Email</label>

                    </div>

                    <div class="form-group-material">
                        <input type="password" name="password" id="inputPassword" class="input-material"
                               autocomplete="current-password" required>
                        <label for="inputPassword" class="label-material">Пароль</label>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}
                    <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">
                            Вход
                        </button>
                    </div>
                </form>
                {#
                TODO: создать экшен для регистрации, если нужно и добавить ссылку: <a href="#" class="forgot-pass">Забыли пароль?</a><small>У вас есть аккаунт? </small><a
                        href="{{ path('admin_register') }}" class="signup">Зарегистрироваться</a>
                #}
            </div>
        </div>
    </div>
</div>
<!-- JavaScript files-->
{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
</body>
</html>